<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tests.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogin_IncorrectPwd</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogin_CorrectLoginCredentials</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyChatPopup</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLinkedinBtn</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyContactUsLink</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyForgotPwdLink</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogin_IncorrectLoginPwd</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyGoogleBtn</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySignUpLink</td>
<td>functest Login </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRememberMeChkbox</td>
<td>functest Login </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Browser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Url</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.tests.RegistrationPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegistration_FromGetStartedPage</td>
<td>functest registration </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegistration_JointCorrectDetails</td>
<td>functest registration </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegistration_Individual_IBCorrectDetails</td>
<td>functest registration </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegistration_InCorrectDetails</td>
<td>functest registration </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Browser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Url</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
</table>
