<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Browser()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:44</td>   <td>153939</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Browser()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:10</td>   <td>-107</td> <td title="&gt;&gt;TestConfig.Report()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:14</td>   <td>3726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:11</td>   <td>61242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:18</td>   <td>68005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:22</td>   <td>72166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:30</td>   <td>80331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:01</td>   <td>110610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:10</td>   <td>119977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:18</td>   <td>127535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:27</td>   <td>137024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:32</td>   <td>142469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:47</td>   <td>157355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:25:49</td>   <td>219027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:26:56</td>   <td>286130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:28:27</td>   <td>377188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:30</td>   <td>80328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.VerifyChatPopup()[pri:4, instance:com.tests.HomePageTest@396a51ab]">VerifyChatPopup</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:39</td>   <td>148900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.closeBrowser()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:06</td>   <td>535717</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.closeBrowser()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:10</td>   <td>539681</td> <td title="&lt;&lt;TestConfig.closeReport()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:11</td>   <td>61239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:18</td>   <td>68004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:22</td>   <td>72165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:30</td>   <td>80330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:01</td>   <td>110609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:10</td>   <td>119977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:18</td>   <td>127534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:27</td>   <td>137023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:32</td>   <td>142469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:39</td>   <td>148900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:25:49</td>   <td>219027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:26:56</td>   <td>286129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:28:27</td>   <td>377188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:06</td>   <td>535716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:43</td>   <td>92603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactUsLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyContactUsLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:04</td>   <td>113865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyForgotPwdLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyForgotPwdLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:16</td>   <td>125580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyGoogleBtn()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyGoogleBtn</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:26</td>   <td>135699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLinkedinBtn()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyLinkedinBtn</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:04</td>   <td>54466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_CorrectLoginCredentials()[pri:1, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_CorrectLoginCredentials</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:17</td>   <td>66807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_IncorrectLoginPwd()[pri:2, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_IncorrectLoginPwd</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:21</td>   <td>70850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_IncorrectPwd()[pri:3, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_IncorrectPwd</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:25:21</td>   <td>190876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_FromGetStartedPage()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_FromGetStartedPage</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:25:55</td>   <td>224634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_InCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_InCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:27:20</td>   <td>309856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_Individual_IBCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_Individual_IBCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:28:31</td>   <td>381164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_JointCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_JointCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:32</td>   <td>142358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyRememberMeChkbox()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyRememberMeChkbox</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:36</td>   <td>145812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifySignUpLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifySignUpLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
</table>
