<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:10</td>   <td>0</td> <td title="&gt;&gt;TestConfig.Report()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:10</td>   <td>107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Browser()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:22:14</td>   <td>3833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:04</td>   <td>54573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_CorrectLoginCredentials()[pri:1, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_CorrectLoginCredentials</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:11</td>   <td>61346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:11</td>   <td>61349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:17</td>   <td>66914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_IncorrectLoginPwd()[pri:2, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_IncorrectLoginPwd</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:18</td>   <td>68111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:18</td>   <td>68112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:21</td>   <td>70957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLogin_IncorrectPwd()[pri:3, instance:com.tests.HomePageTest@396a51ab]">verifyLogin_IncorrectPwd</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:22</td>   <td>72272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:22</td>   <td>72273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:30</td>   <td>80435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.VerifyChatPopup()[pri:4, instance:com.tests.HomePageTest@396a51ab]">VerifyChatPopup</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:30</td>   <td>80437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:23:30</td>   <td>80438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:23:43</td>   <td>92710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactUsLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyContactUsLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:01</td>   <td>110716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:01</td>   <td>110717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:04</td>   <td>113972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyForgotPwdLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyForgotPwdLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:10</td>   <td>120084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:10</td>   <td>120084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:16</td>   <td>125687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyGoogleBtn()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyGoogleBtn</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:18</td>   <td>127641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:18</td>   <td>127642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:26</td>   <td>135806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLinkedinBtn()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyLinkedinBtn</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:27</td>   <td>137130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:27</td>   <td>137131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:32</td>   <td>142465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyRememberMeChkbox()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifyRememberMeChkbox</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:32</td>   <td>142576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:32</td>   <td>142576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>19/07/26 15:24:36</td>   <td>145919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifySignUpLink()[pri:4, instance:com.tests.HomePageTest@396a51ab]">verifySignUpLink</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:39</td>   <td>149007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:39</td>   <td>149007</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.closeBrowser()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:44</td>   <td>154046</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Browser()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:24:47</td>   <td>157462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:25:21</td>   <td>190983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_FromGetStartedPage()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_FromGetStartedPage</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:25:49</td>   <td>219134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:25:49</td>   <td>219134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:25:55</td>   <td>224741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_InCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_InCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:26:56</td>   <td>286236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:26:56</td>   <td>286237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:27:20</td>   <td>309963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_Individual_IBCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_Individual_IBCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:28:27</td>   <td>377295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:28:27</td>   <td>377295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>19/07/26 15:28:31</td>   <td>381271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration_JointCorrectDetails(java.lang.reflect.Method)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">verifyRegistration_JointCorrectDetails</td> 
  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:06</td>   <td>535823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:06</td>   <td>535824</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.closeBrowser()[pri:0, instance:com.tests.RegistrationPageTest@735b5592]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
<tr bgcolor="bc7afb">  <td>19/07/26 15:31:10</td>   <td>539788</td> <td title="&lt;&lt;TestConfig.closeReport()[pri:0, instance:com.tests.HomePageTest@396a51ab]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615780336</td>   <td></td> </tr>
</table>
