<h2>Reporter output</h2><table><tr><td><a href='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyLogin_CorrectLoginCredentials_2019-07-26_15-23-11.png'> <img src='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyLogin_CorrectLoginCredentials_2019-07-26_15-23-11.png' height='100' width='100'/> </a></td></tr>
</table>