<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Login</td><td>HomePageTest.verifyContactUsLink()[pri:4, instance:com.tests.HomePageTest@3a82f6ef]<br/></td></tr>
<tr><td>functest</td><td>HomePageTest.verifyContactUsLink()[pri:4, instance:com.tests.HomePageTest@3a82f6ef]<br/></td></tr>
</table>
