<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Browser()[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&gt;&gt;Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:02</td>   <td>-108</td> <td title="&gt;&gt;TestConfig.Report()[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:06</td>   <td>3986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfig.Url(java.lang.reflect.Method)[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&gt;&gt;Url</td> 
<td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:37</td>   <td>35283</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.closeBrowser()[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:39</td>   <td>37055</td> <td title="&lt;&lt;TestConfig.closeReport()[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="63e9ab">  <td>19/07/26 12:11:37</td>   <td>34997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfig.tearDown(org.testng.ITestResult)[pri:0, instance:com.tests.HomePageTest@3a82f6ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/07/26 12:11:17</td>   <td>14967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactUsLink()[pri:4, instance:com.tests.HomePageTest@3a82f6ef]">verifyContactUsLink</td> 
  <td>main@1073502961</td>   <td></td> </tr>
</table>
