<h2>Reporter output</h2><table><tr><td><a href='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyContactUsLink_2019-07-26_12-11-37.png'> <img src='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyContactUsLink_2019-07-26_12-11-37.png' height='100' width='100'/> </a></td></tr>
<tr><td><a href='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyContactUsLink_2019-07-26_12-11-37.png'> <img src='C:\Users\dhivya.gunasekaran\Downloads\secure-tests-Maven\secure-tests-Maven\Pepperstone\SCA\Screenshots\verifyContactUsLink_2019-07-26_12-11-37.png' height='100' width='100'/> </a></td></tr>
</table>